# Polars vs Pandas

In [1]:
import pandas as pd
import polars as pl
import duckdb
import openpyxl
import xlsxwriter
import time
from datetime import datetime

In [2]:
# pandas read csv data
pandas_df=pd.read_csv("./src/data/Advance.csv", dtype=str)

In [3]:
# polars read csv data
polars_df=pl.read_csv("./src/data/Advance.csv", infer_schema=False)

In [4]:
pandas_df.head()

,Symbol,Series,LTP,%chng,Mkt Cap (₹ Crores),Volume (Lakhs),Value (₹ Crores)
0,ICICIBANK,EQ,1259.6,0.55,887801.07,135.46,1693.26
1,AXISBANK,EQ,1189,1.85,367833.79,127.98,1512.98
2,ITC,EQ,482.25,2.24,603178.95,309.57,1505.4
3,BEL,EQ,275.55,1.55,201420.96,404.04,1079.83
4,LAURUSLABS,EQ,463.65,3.66,24998.12,198.8,930.2

In [5]:
print(polars_df)

shape: (519, 7)
┌────────────┬─────────┬─────────┬────────┬────────────────────┬────────────────┬──────────────────┐
│ Symbol     ┆ Series  ┆ LTP     ┆ %chng  ┆ Mkt Cap (₹ Crores) ┆ Volume (Lakhs) ┆ Value (₹ Crores) │
│ ---        ┆ ---     ┆ ---     ┆ ---    ┆ ---                ┆ ---            ┆ ---              │
│ str        ┆ str     ┆ str     ┆ str    ┆ str                ┆ str            ┆ str              │
╞════════════╪═════════╪═════════╪════════╪════════════════════╪════════════════╪══════════════════╡
│ ICICIBANK  ┆ EQ      ┆ 1259.6  ┆ 0.55   ┆ 887801.07          ┆ 135.46         ┆ 1693.26          │
│ AXISBANK   ┆ EQ      ┆ 1189    ┆ 1.85   ┆ 367833.79          ┆ 127.98         ┆ 1512.98          │
│ ITC        ┆ EQ      ┆ 482.25  ┆ 2.24   ┆ 603178.95          ┆ 309.57         ┆ 1505.4           │
│ BEL        ┆ EQ      ┆ 275.55  ┆ 1.55   ┆ 201420.96          ┆ 404.04         ┆ 1079.83          │
│ LAURUSLABS ┆ EQ      ┆ 463.65  ┆ 3.66   ┆ 24998.12           ┆ 198.8          ┆ 930.2            │
│ …          ┆ …       ┆ …       ┆ …      ┆ …                  ┆ …              ┆ …                │
│ 94IFCI25   ┆ NL      ┆ 1057.8  ┆ 0.27   ┆ 320.32             ┆ 0              ┆ 0                │
│ 735NABAR31 ┆ N1      ┆ 1150    ┆ 1.32   ┆ 0                  ┆ 0              ┆ 0                │
│ 980IFSL25  ┆ N5      ┆ 1097.99 ┆ 3.1    ┆ 27.95              ┆ 0              ┆ 0                │
│ 746GS2073  ┆ GS      ┆ 111     ┆ 0.02   ┆ 118770             ┆ 0              ┆ 0                │
│ 883GS2041  ┆ GS      ┆ 117.2   ┆ 5      ┆ 105480             ┆ 0              ┆ 0                │
└────────────┴─────────┴─────────┴────────┴────────────────────┴────────────────┴──────────────────┘

In [6]:
print(pandas_df)

        Symbol  Series      LTP  %chng  Mkt Cap (₹ Crores) Volume (Lakhs)  \
0     ICICIBANK      EQ   1259.6   0.55          887801.07         135.46
1      AXISBANK      EQ     1189   1.85          367833.79         127.98
2           ITC      EQ   482.25   2.24          603178.95         309.57
3           BEL      EQ   275.55   1.55          201420.96         404.04
4    LAURUSLABS      EQ   463.65   3.66           24998.12          198.8
..          ...     ...      ...    ...                ...            ...
514    94IFCI25      NL   1057.8   0.27             320.32              0
515  735NABAR31      N1     1150   1.32                  0              0
516   980IFSL25      N5  1097.99    3.1              27.95              0
517   746GS2073      GS      111   0.02             118770              0
518   883GS2041      GS    117.2      5             105480              0

    Value (₹ Crores)
0            1693.26
1            1512.98
2             1505.4
3            1079.83
4              930.2
..               ...
514                0
515                0
516                0
517                0
518                0

[519 rows x 7 columns]

In [7]:
# we will discuss about polars will upcomming tutorials, lets first concentrate pandas df
advance=pd.read_csv("./src/data/Advance.csv", dtype=str)

In [8]:
advance.head()

,Symbol,Series,LTP,%chng,Mkt Cap (₹ Crores),Volume (Lakhs),Value (₹ Crores)
0,ICICIBANK,EQ,1259.6,0.55,887801.07,135.46,1693.26
1,AXISBANK,EQ,1189,1.85,367833.79,127.98,1512.98
2,ITC,EQ,482.25,2.24,603178.95,309.57,1505.4
3,BEL,EQ,275.55,1.55,201420.96,404.04,1079.83
4,LAURUSLABS,EQ,463.65,3.66,24998.12,198.8,930.2

In [9]:
advance.columns

Index(['Symbol ', 'Series ', 'LTP ', '%chng ', 'Mkt Cap (₹ Crores)',
       'Volume (Lakhs)', 'Value (₹ Crores)'],
      dtype='object')

In [10]:
# Rename columns
advance=advance.rename(columns={'Symbol ':'symbol', 'Series ':'series', 'LTP ':'ltp', '%chng ':'percent_chng', 'Mkt Cap (₹ Crores)':'mkt_cap', 'Volume (Lakhs)':'volume', 'Value (₹ Crores)':'value'})

In [11]:
advance.head()

       symbol series     ltp percent_chng    mkt_cap  volume    value
0   ICICIBANK     EQ  1259.6         0.55  887801.07  135.46  1693.26
1    AXISBANK     EQ    1189         1.85  367833.79  127.98  1512.98
2         ITC     EQ  482.25         2.24  603178.95  309.57   1505.4
3         BEL     EQ  275.55         1.55  201420.96  404.04  1079.83
4  LAURUSLABS     EQ  463.65         3.66   24998.12   198.8    930.2

In [12]:
# Add datetime column
advance['created_date']=datetime.now()

In [13]:
advance.head()

,symbol,series,ltp,percent_chng,mkt_cap,volume,value,created_date
0,ICICIBANK,EQ,1259.6,0.55,887801.07,135.46,1693.26,2024-10-26 07:35:26.884146
1,AXISBANK,EQ,1189,1.85,367833.79,127.98,1512.98,2024-10-26 07:35:26.884146
2,ITC,EQ,482.25,2.24,603178.95,309.57,1505.4,2024-10-26 07:35:26.884146
3,BEL,EQ,275.55,1.55,201420.96,404.04,1079.83,2024-10-26 07:35:26.884146
4,LAURUSLABS,EQ,463.65,3.66,24998.12,198.8,930.2,2024-10-26 07:35:26.884146

In [14]:
# pandas Query function 1
advance[advance["symbol"].str.contains("h", case=False)]

,symbol,series,ltp,percent_chng,mkt_cap,volume,value,created_date
6,PNBHOUSING,EQ,946,1.24,24581.13,82.67,808.67,2024-10-26 07:35:26.884146
7,HCLTECH,EQ,1852,0.38,502570.78,40.78,756.32,2024-10-26 07:35:26.884146
9,HINDUNILVR,EQ,2530.3,1.01,594517.08,27.61,696.43,2024-10-26 07:35:26.884146
14,INDHOTEL,EQ,690,3.45,98216.82,59.54,404.51,2024-10-26 07:35:26.884146
15,SUNPHARMA,EQ,1858.1,0.5,445820.43,21.48,400.19,2024-10-26 07:35:26.884146
...,...,...,...,...,...,...,...,...
470,KHAITANLTD,BE,91,2.79,43.23,0.01,0.01,2024-10-26 07:35:26.884146
474,OMKARCHEM,BZ,8.24,4.04,16.96,0.08,0.01,2024-10-26 07:35:26.884146
475,863NHB29,N2,5880,1.38,478.82,0,0.01,2024-10-26 07:35:26.884146
480,769HUDCO31,N9,1168,0.52,0,0,0.01,2024-10-26 07:35:26.884146
490,TECILCHEM,BE,23,4.07,43.62,0.01,0,2024-10-26 07:35:26.884146

In [15]:
# pandas Query function 2
advance[advance["symbol"].str.contains("hdfc", case=False)]

,symbol,series,ltp,percent_chng,mkt_cap,volume,value,created_date
180,HDFCNIFTY,EQ,272,0.77,3675.55,1.15,3.08,2024-10-26 07:35:26.884146
319,HDFCNIFBAN,EQ,53.39,1.73,5273.67,0.48,0.25,2024-10-26 07:35:26.884146
357,HDFCNIFIT,EQ,43.45,0.39,149.24,0.31,0.14,2024-10-26 07:35:26.884146
360,HDFCBSE500,EQ,36.57,0.44,13.74,0.36,0.13,2024-10-26 07:35:26.884146
364,HDFCVALUE,EQ,144,1.07,33.64,0.09,0.12,2024-10-26 07:35:26.884146
375,HDFCGROWTH,EQ,122.9,0.76,12.83,0.08,0.1,2024-10-26 07:35:26.884146

In [16]:
# check data type
advance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   symbol        519 non-null    object
 1   series        517 non-null    object
 2   ltp           519 non-null    object
 3   percent_chng  519 non-null    object
 4   mkt_cap       519 non-null    object
 5   volume        519 non-null    object
 6   value         519 non-null    object
 7   created_date  519 non-null    datetime64[us]
dtypes: datetime64[us](1), object(7)
memory usage: 32.6+ KB

In [17]:
# change the datatype from object(string) to float before converting following query look likes is mentioned below.
advance.query("ltp>'200'")

,symbol,series,ltp,percent_chng,mkt_cap,volume,value,created_date
2,ITC,EQ,482.25,2.24,603178.95,309.57,1505.4,2024-10-26 07:35:26.884146
3,BEL,EQ,275.55,1.55,201420.96,404.04,1079.83,2024-10-26 07:35:26.884146
4,LAURUSLABS,EQ,463.65,3.66,24998.12,198.8,930.2,2024-10-26 07:35:26.884146
6,PNBHOUSING,EQ,946,1.24,24581.13,82.67,808.67,2024-10-26 07:35:26.884146
8,TCS,EQ,4060,0.3,1468943.53,17.59,714.92,2024-10-26 07:35:26.884146
...,...,...,...,...,...,...,...,...
502,SANCO,BZ,4,0.5,5.23,0.04,0,2024-10-26 07:35:26.884146
509,91D051224,TB,99,0.09,16335.99,0,0,2024-10-26 07:35:26.884146
510,965SCL26F,N1,904,0.31,16.5,0,0,2024-10-26 07:35:26.884146
512,SGBFEB27,GB,8050.01,0.56,166.95,0,0,2024-10-26 07:35:26.884146
513,IMC1,N3,251,0.3,61.24,0,0,2024-10-26 07:35:26.884146

In [19]:
advance.query("ltp>'200'").sort_values("ltp")

,symbol,series,ltp,percent_chng,mkt_cap,volume,value,created_date
313,MOQUALITY,EQ,204.2,1.65,18.61,0.14,0.28,2024-10-26 07:35:26.884146
162,MUTHOOTMF,EQ,205.49,0.85,3503.44,2.04,4.18,2024-10-26 07:35:26.884146
209,SCHAND,EQ,208,0.07,732.52,0.88,1.8,2024-10-26 07:35:26.884146
417,SILLYMONKS,EQ,21.7,0.37,22.16,0.18,0.04,2024-10-26 07:35:26.884146
177,LOWVOLIETF,EQ,21.71,0.28,3416.34,14.85,3.21,2024-10-26 07:35:26.884146
...,...,...,...,...,...,...,...,...
495,875IIFL26,NM,990,1.01,134.72,0,0,2024-10-26 07:35:26.884146
188,EVERESTIND,EQ,990.1,1.68,1566.33,0.29,2.77,2024-10-26 07:35:26.884146
301,945CAGL24,N1,991.3,0.03,183.7,0.04,0.35,2024-10-26 07:35:26.884146
468,1015SCL28,NR,994.8,11.13,8.74,0,0.01,2024-10-26 07:35:26.884146
427,1025NFL25,N5,999,0.91,97.15,0,0.03,2024-10-26 07:35:26.884146

In [20]:
# change the data type from str to float
advance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   symbol        519 non-null    object
 1   series        517 non-null    object
 2   ltp           519 non-null    object
 3   percent_chng  519 non-null    object
 4   mkt_cap       519 non-null    object
 5   volume        519 non-null    object
 6   value         519 non-null    object
 7   created_date  519 non-null    datetime64[us]
dtypes: datetime64[us](1), object(7)
memory usage: 32.6+ KB

In [21]:
# change the data type from str to float
advance['ltp']=advance['ltp'].astype(float)

In [22]:
# After changing datatype -> info() function return float
advance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   symbol        519 non-null    object
 1   series        517 non-null    object
 2   ltp           519 non-null    float64
 3   percent_chng  519 non-null    object
 4   mkt_cap       519 non-null    object
 5   volume        519 non-null    object
 6   value         519 non-null    object
 7   created_date  519 non-null    datetime64[us]
dtypes: datetime64[us](1), float64(1), object(6)
memory usage: 32.6+ KB

In [24]:
# Now query again ltp > 200 and sort_values("ltp")
advance.query("ltp > 200").sort_values("ltp")

,symbol,series,ltp,percent_chng,mkt_cap,volume,value,created_date
313,MOQUALITY,EQ,204.20,1.65,18.61,0.14,0.28,2024-10-26 07:35:26.884146
162,MUTHOOTMF,EQ,205.49,0.85,3503.44,2.04,4.18,2024-10-26 07:35:26.884146
209,SCHAND,EQ,208.00,0.07,732.52,0.88,1.8,2024-10-26 07:35:26.884146
250,BEDMUTHA,EQ,210.94,0.52,680.57,0.46,0.98,2024-10-26 07:35:26.884146
330,SATIPOLY,SM,212.45,3.13,105.1,0.1,0.21,2024-10-26 07:35:26.884146
...,...,...,...,...,...,...,...,...
93,BAJAJHLDNG,EQ,10200.00,0.82,113519.38,0.23,23.74,2024-10-26 07:35:26.884146
12,OFSS,EQ,10889.00,1.93,94455.85,4.32,472.2,2024-10-26 07:35:26.884146
90,PTCIL,EQ,12220.00,3.43,18294.79,0.21,24.12,2024-10-26 07:35:26.884146
132,TASTYBITE,EQ,12240.00,1.33,3140.78,0.07,8.01,2024-10-26 07:35:26.884146
66,NEULANDLAB,EQ,13800.00,1.01,17705.25,0.36,49.03,2024-10-26 07:35:26.884146

In [25]:
advance.query("ltp < 5").sort_values("ltp")

,symbol,series,ltp,percent_chng,mkt_cap,volume,value,created_date
432,SANWARIA,BZ,0.46,2.22,33.86,5.55,0.03,2024-10-26 07:35:26.884146
309,GATECH,BE,0.68,4.62,46.28,46.18,0.3,2024-10-26 07:35:26.884146
448,VCL,BE,0.77,2.67,14.15,2.24,0.02,2024-10-26 07:35:26.884146
486,SETUINFRA,BZ,0.88,1.15,11.06,0.37,0,2024-10-26 07:35:26.884146
456,GATECHDVR,BE,0.91,4.6,10.76,1.57,0.01,2024-10-26 07:35:26.884146
416,VIVIDHA,EQ,1.00,1.01,29.27,4.2,0.04,2024-10-26 07:35:26.884146
258,VINNY,BE,1.84,4.55,85.61,44.15,0.79,2024-10-26 07:35:26.884146
304,MITTAL,EQ,1.96,0.51,87,17.13,0.33,2024-10-26 07:35:26.884146
403,ARSHIYA,BE,3.23,1.25,85.1,1.98,0.06,2024-10-26 07:35:26.884146
451,ALPSINDUS,BE,3.45,3.29,13.49,0.45,0.02,2024-10-26 07:35:26.884146
400,RADAAN,BE,3.84,4.92,20.8,1.69,0.06,2024-10-26 07:35:26.884146
502,SANCO,BZ,4.00,0.5,5.23,0.04,0,2024-10-26 07:35:26.884146
436,KRIDHANINF,EQ,4.12,1.23,39.05,0.55,0.02,2024-10-26 07:35:26.884146
325,HDIL,BZ,4.23,4.96,200.5,5.3,0.22,2024-10-26 07:35:26.884146

In [35]:
df=advance.query("ltp < 5").sort_values("ltp")

In [36]:
# for min value return
df.min()

symbol                           ALPSINDUS
series                                  BE
ltp                                   0.46
percent_chng                           0.5
mkt_cap                              10.76
volume                                0.04
value                                    0
created_date    2024-10-26 07:35:26.884146
dtype: object

In [37]:
# get the symbol, series, ltp, percent_chng, mkt_cap, volume, value, created_date
df.min()[['symbol', 'series', 'ltp']]

symbol    ALPSINDUS
series           BE
ltp            0.46
dtype: object

In [38]:
# max value
df.max()

symbol                             VIVIDHA
series                                  EQ
ltp                                   4.23
percent_chng                          4.96
mkt_cap                                 87
volume                                5.55
value                                 0.79
created_date    2024-10-26 07:35:26.884146
dtype: object

In [47]:
advance.loc[advance['symbol']=='VIVIDHA', 'ltp'].values[0]

np.float64(1.0)

In [51]:
advance.to_excel('./src/data/advance.xlsx',index=False)

In [52]:
advance.head()

,symbol,series,ltp,percent_chng,mkt_cap,volume,value,created_date
0,ICICIBANK,EQ,1259.60,0.55,887801.07,135.46,1693.26,2024-10-26 07:35:26.884146
1,AXISBANK,EQ,1189.00,1.85,367833.79,127.98,1512.98,2024-10-26 07:35:26.884146
2,ITC,EQ,482.25,2.24,603178.95,309.57,1505.4,2024-10-26 07:35:26.884146
3,BEL,EQ,275.55,1.55,201420.96,404.04,1079.83,2024-10-26 07:35:26.884146
4,LAURUSLABS,EQ,463.65,3.66,24998.12,198.8,930.2,2024-10-26 07:35:26.884146

In [53]:
# change symbol value in lower case
advance['symbol']=advance['symbol'].str.lower()

In [54]:
advance.head()

,symbol,series,ltp,percent_chng,mkt_cap,volume,value,created_date
0,icicibank,EQ,1259.60,0.55,887801.07,135.46,1693.26,2024-10-26 07:35:26.884146
1,axisbank,EQ,1189.00,1.85,367833.79,127.98,1512.98,2024-10-26 07:35:26.884146
2,itc,EQ,482.25,2.24,603178.95,309.57,1505.4,2024-10-26 07:35:26.884146
3,bel,EQ,275.55,1.55,201420.96,404.04,1079.83,2024-10-26 07:35:26.884146
4,lauruslabs,EQ,463.65,3.66,24998.12,198.8,930.2,2024-10-26 07:35:26.884146

In [55]:
con=duckdb.connect("./src/db/stock.db")

In [56]:
con.sql("CREATE TABLE advance as select * from advance")

In [57]:
con.sql("show tables")

┌─────────┐
│  name   │
│ varchar │
├─────────┤
│ advance │
└─────────┘

In [58]:
con.sql("drop table advance")

In [59]:
con.sql("show tables")

┌─────────┐
│  name   │
│ varchar │
├─────────┤
│ 0 rows  │
└─────────┘

In [60]:
con.sql("create table advance_two as select * from advance")

In [61]:
con.sql("show tables")

┌─────────────┐
│    name     │
│   varchar   │
├─────────────┤
│ advance_two │
└─────────────┘

In [62]:
con.sql("select * from advance_two")

┌────────────┬─────────┬─────────┬──────────────┬────────────┬─────────┬─────────┬────────────────────────────┐
│   symbol   │ series  │   ltp   │ percent_chng │  mkt_cap   │ volume  │  value  │        created_date        │
│  varchar   │ varchar │ double  │   varchar    │  varchar   │ varchar │ varchar │         timestamp          │
├────────────┼─────────┼─────────┼──────────────┼────────────┼─────────┼─────────┼────────────────────────────┤
│ icicibank  │ EQ      │  1259.6 │ 0.55         │ 887801.07  │ 135.46  │ 1693.26 │ 2024-10-26 07:35:26.884146 │
│ axisbank   │ EQ      │  1189.0 │ 1.85         │ 367833.79  │ 127.98  │ 1512.98 │ 2024-10-26 07:35:26.884146 │
│ itc        │ EQ      │  482.25 │ 2.24         │ 603178.95  │ 309.57  │ 1505.4  │ 2024-10-26 07:35:26.884146 │
│ bel        │ EQ      │  275.55 │ 1.55         │ 201420.96  │ 404.04  │ 1079.83 │ 2024-10-26 07:35:26.884146 │
│ lauruslabs │ EQ      │  463.65 │ 3.66         │ 24998.12   │ 198.8   │ 930.2   │ 2024-10-26 07:35:26.884146 │
│ infy       │ EQ      │  1866.0 │ 0.14         │ 774790.6   │ 46.89   │ 872.81  │ 2024-10-26 07:35:26.884146 │
│ pnbhousing │ EQ      │   946.0 │ 1.24         │ 24581.13   │ 82.67   │ 808.67  │ 2024-10-26 07:35:26.884146 │
│ hcltech    │ EQ      │  1852.0 │ 0.38         │ 502570.78  │ 40.78   │ 756.32  │ 2024-10-26 07:35:26.884146 │
│ tcs        │ EQ      │  4060.0 │ 0.3          │ 1468943.53 │ 17.59   │ 714.92  │ 2024-10-26 07:35:26.884146 │
│ hindunilvr │ EQ      │  2530.3 │ 1.01         │ 594517.08  │ 27.61   │ 696.43  │ 2024-10-26 07:35:26.884146 │
│     ·      │ ·       │      ·  │  ·           │    ·       │ ·       │ ·       │             ·              │
│     ·      │ ·       │      ·  │  ·           │    ·       │ ·       │ ·       │             ·              │
│     ·      │ ·       │      ·  │  ·           │    ·       │ ·       │ ·       │             ·              │
│ 91d051224  │ TB      │    99.0 │ 0.09         │ 16335.99   │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
│ 965scl26f  │ N1      │   904.0 │ 0.31         │ 16.5       │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
│ 8abfl26    │ N0      │  1003.0 │ 0.1          │ 205.92     │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
│ sgbfeb27   │ GB      │ 8050.01 │ 0.56         │ 166.95     │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
│ imc1       │ N3      │   251.0 │ 0.3          │ 61.24      │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
│ 94ifci25   │ NL      │  1057.8 │ 0.27         │ 320.32     │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
│ 735nabar31 │ N1      │  1150.0 │ 1.32         │ 0          │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
│ 980ifsl25  │ N5      │ 1097.99 │ 3.1          │ 27.95      │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
│ 746gs2073  │ GS      │   111.0 │ 0.02         │ 118770     │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
│ 883gs2041  │ GS      │   117.2 │ 5            │ 105480     │ 0       │ 0       │ 2024-10-26 07:35:26.884146 │
├────────────┴─────────┴─────────┴──────────────┴────────────┴─────────┴─────────┴────────────────────────────┤
│ 519 rows (20 shown)                                                                               8 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [63]:
con.sql("select * from advance_two where ltp < 5")

┌────────────┬─────────┬────────┬──────────────┬─────────┬─────────┬─────────┬────────────────────────────┐
│   symbol   │ series  │  ltp   │ percent_chng │ mkt_cap │ volume  │  value  │        created_date        │
│  varchar   │ varchar │ double │   varchar    │ varchar │ varchar │ varchar │         timestamp          │
├────────────┼─────────┼────────┼──────────────┼─────────┼─────────┼─────────┼────────────────────────────┤
│ vinny      │ BE      │   1.84 │ 4.55         │ 85.61   │ 44.15   │ 0.79    │ 2024-10-26 07:35:26.884146 │
│ mittal     │ EQ      │   1.96 │ 0.51         │ 87      │ 17.13   │ 0.33    │ 2024-10-26 07:35:26.884146 │
│ gatech     │ BE      │   0.68 │ 4.62         │ 46.28   │ 46.18   │ 0.3     │ 2024-10-26 07:35:26.884146 │
│ hdil       │ BZ      │   4.23 │ 4.96         │ 200.5   │ 5.3     │ 0.22    │ 2024-10-26 07:35:26.884146 │
│ radaan     │ BE      │   3.84 │ 4.92         │ 20.8    │ 1.69    │ 0.06    │ 2024-10-26 07:35:26.884146 │
│ arshiya    │ BE      │   3.23 │ 1.25         │ 85.1    │ 1.98    │ 0.06    │ 2024-10-26 07:35:26.884146 │
│ vividha    │ EQ      │    1.0 │ 1.01         │ 29.27   │ 4.2     │ 0.04    │ 2024-10-26 07:35:26.884146 │
│ sanwaria   │ BZ      │   0.46 │ 2.22         │ 33.86   │ 5.55    │ 0.03    │ 2024-10-26 07:35:26.884146 │
│ kridhaninf │ EQ      │   4.12 │ 1.23         │ 39.05   │ 0.55    │ 0.02    │ 2024-10-26 07:35:26.884146 │
│ vcl        │ BE      │   0.77 │ 2.67         │ 14.15   │ 2.24    │ 0.02    │ 2024-10-26 07:35:26.884146 │
│ alpsindus  │ BE      │   3.45 │ 3.29         │ 13.49   │ 0.45    │ 0.02    │ 2024-10-26 07:35:26.884146 │
│ gatechdvr  │ BE      │   0.91 │ 4.6          │ 10.76   │ 1.57    │ 0.01    │ 2024-10-26 07:35:26.884146 │
│ setuinfra  │ BZ      │   0.88 │ 1.15         │ 11.06   │ 0.37    │ 0       │ 2024-10-26 07:35:26.884146 │
│ sanco      │ BZ      │    4.0 │ 0.5          │ 5.23    │ 0.04    │ 0       │ 2024-10-26 07:35:26.884146 │
├────────────┴─────────┴────────┴──────────────┴─────────┴─────────┴─────────┴────────────────────────────┤
│ 14 rows                                                                                       8 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [64]:
con.sql("select * from advance_two where ltp < 5 order by ltp")

┌────────────┬─────────┬────────┬──────────────┬─────────┬─────────┬─────────┬────────────────────────────┐
│   symbol   │ series  │  ltp   │ percent_chng │ mkt_cap │ volume  │  value  │        created_date        │
│  varchar   │ varchar │ double │   varchar    │ varchar │ varchar │ varchar │         timestamp          │
├────────────┼─────────┼────────┼──────────────┼─────────┼─────────┼─────────┼────────────────────────────┤
│ sanwaria   │ BZ      │   0.46 │ 2.22         │ 33.86   │ 5.55    │ 0.03    │ 2024-10-26 07:35:26.884146 │
│ gatech     │ BE      │   0.68 │ 4.62         │ 46.28   │ 46.18   │ 0.3     │ 2024-10-26 07:35:26.884146 │
│ vcl        │ BE      │   0.77 │ 2.67         │ 14.15   │ 2.24    │ 0.02    │ 2024-10-26 07:35:26.884146 │
│ setuinfra  │ BZ      │   0.88 │ 1.15         │ 11.06   │ 0.37    │ 0       │ 2024-10-26 07:35:26.884146 │
│ gatechdvr  │ BE      │   0.91 │ 4.6          │ 10.76   │ 1.57    │ 0.01    │ 2024-10-26 07:35:26.884146 │
│ vividha    │ EQ      │    1.0 │ 1.01         │ 29.27   │ 4.2     │ 0.04    │ 2024-10-26 07:35:26.884146 │
│ vinny      │ BE      │   1.84 │ 4.55         │ 85.61   │ 44.15   │ 0.79    │ 2024-10-26 07:35:26.884146 │
│ mittal     │ EQ      │   1.96 │ 0.51         │ 87      │ 17.13   │ 0.33    │ 2024-10-26 07:35:26.884146 │
│ arshiya    │ BE      │   3.23 │ 1.25         │ 85.1    │ 1.98    │ 0.06    │ 2024-10-26 07:35:26.884146 │
│ alpsindus  │ BE      │   3.45 │ 3.29         │ 13.49   │ 0.45    │ 0.02    │ 2024-10-26 07:35:26.884146 │
│ radaan     │ BE      │   3.84 │ 4.92         │ 20.8    │ 1.69    │ 0.06    │ 2024-10-26 07:35:26.884146 │
│ sanco      │ BZ      │    4.0 │ 0.5          │ 5.23    │ 0.04    │ 0       │ 2024-10-26 07:35:26.884146 │
│ kridhaninf │ EQ      │   4.12 │ 1.23         │ 39.05   │ 0.55    │ 0.02    │ 2024-10-26 07:35:26.884146 │
│ hdil       │ BZ      │   4.23 │ 4.96         │ 200.5   │ 5.3     │ 0.22    │ 2024-10-26 07:35:26.884146 │
├────────────┴─────────┴────────┴──────────────┴─────────┴─────────┴─────────┴────────────────────────────┤
│ 14 rows                                                                                       8 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [65]:
con.sql("select * from advance_two where symbol='vcl'")

┌─────────┬─────────┬────────┬──────────────┬─────────┬─────────┬─────────┬────────────────────────────┐
│ symbol  │ series  │  ltp   │ percent_chng │ mkt_cap │ volume  │  value  │        created_date        │
│ varchar │ varchar │ double │   varchar    │ varchar │ varchar │ varchar │         timestamp          │
├─────────┼─────────┼────────┼──────────────┼─────────┼─────────┼─────────┼────────────────────────────┤
│ vcl     │ BE      │   0.77 │ 2.67         │ 14.15   │ 2.24    │ 0.02    │ 2024-10-26 07:35:26.884146 │
└─────────┴─────────┴────────┴──────────────┴─────────┴─────────┴─────────┴────────────────────────────┘

In [66]:
con.sql("select min(ltp) from advance_two")

┌──────────┐
│ min(ltp) │
│  double  │
├──────────┤
│     0.46 │
└──────────┘

In [67]:
con.sql("select max(ltp) from advance_two")

┌──────────┐
│ max(ltp) │
│  double  │
├──────────┤
│  13800.0 │
└──────────┘

In [68]:
con.sql("select * from advance_two where ltp='0.46'")

┌──────────┬─────────┬────────┬──────────────┬─────────┬─────────┬─────────┬────────────────────────────┐
│  symbol  │ series  │  ltp   │ percent_chng │ mkt_cap │ volume  │  value  │        created_date        │
│ varchar  │ varchar │ double │   varchar    │ varchar │ varchar │ varchar │         timestamp          │
├──────────┼─────────┼────────┼──────────────┼─────────┼─────────┼─────────┼────────────────────────────┤
│ sanwaria │ BZ      │   0.46 │ 2.22         │ 33.86   │ 5.55    │ 0.03    │ 2024-10-26 07:35:26.884146 │
└──────────┴─────────┴────────┴──────────────┴─────────┴─────────┴─────────┴────────────────────────────┘

In [69]:
con.sql("select * from advance_two where ltp = 0.46")

┌──────────┬─────────┬────────┬──────────────┬─────────┬─────────┬─────────┬────────────────────────────┐
│  symbol  │ series  │  ltp   │ percent_chng │ mkt_cap │ volume  │  value  │        created_date        │
│ varchar  │ varchar │ double │   varchar    │ varchar │ varchar │ varchar │         timestamp          │
├──────────┼─────────┼────────┼──────────────┼─────────┼─────────┼─────────┼────────────────────────────┤
│ sanwaria │ BZ      │   0.46 │ 2.22         │ 33.86   │ 5.55    │ 0.03    │ 2024-10-26 07:35:26.884146 │
└──────────┴─────────┴────────┴──────────────┴─────────┴─────────┴─────────┴────────────────────────────┘

In [72]:
con.sql("select * from advance_two where ltp = 13800")

┌────────────┬─────────┬─────────┬──────────────┬──────────┬─────────┬─────────┬────────────────────────────┐
│   symbol   │ series  │   ltp   │ percent_chng │ mkt_cap  │ volume  │  value  │        created_date        │
│  varchar   │ varchar │ double  │   varchar    │ varchar  │ varchar │ varchar │         timestamp          │
├────────────┼─────────┼─────────┼──────────────┼──────────┼─────────┼─────────┼────────────────────────────┤
│ neulandlab │ EQ      │ 13800.0 │ 1.01         │ 17705.25 │ 0.36    │ 49.03   │ 2024-10-26 07:35:26.884146 │
└────────────┴─────────┴─────────┴──────────────┴──────────┴─────────┴─────────┴────────────────────────────┘

In [73]:
con.sql("select * from advance_two where ltp = '13800'")

┌────────────┬─────────┬─────────┬──────────────┬──────────┬─────────┬─────────┬────────────────────────────┐
│   symbol   │ series  │   ltp   │ percent_chng │ mkt_cap  │ volume  │  value  │        created_date        │
│  varchar   │ varchar │ double  │   varchar    │ varchar  │ varchar │ varchar │         timestamp          │
├────────────┼─────────┼─────────┼──────────────┼──────────┼─────────┼─────────┼────────────────────────────┤
│ neulandlab │ EQ      │ 13800.0 │ 1.01         │ 17705.25 │ 0.36    │ 49.03   │ 2024-10-26 07:35:26.884146 │
└────────────┴─────────┴─────────┴──────────────┴──────────┴─────────┴─────────┴────────────────────────────┘

In [74]:
con.sql("select * from advance_two where ltp = 13800.0")

┌────────────┬─────────┬─────────┬──────────────┬──────────┬─────────┬─────────┬────────────────────────────┐
│   symbol   │ series  │   ltp   │ percent_chng │ mkt_cap  │ volume  │  value  │        created_date        │
│  varchar   │ varchar │ double  │   varchar    │ varchar  │ varchar │ varchar │         timestamp          │
├────────────┼─────────┼─────────┼──────────────┼──────────┼─────────┼─────────┼────────────────────────────┤
│ neulandlab │ EQ      │ 13800.0 │ 1.01         │ 17705.25 │ 0.36    │ 49.03   │ 2024-10-26 07:35:26.884146 │
└────────────┴─────────┴─────────┴──────────────┴──────────┴─────────┴─────────┴────────────────────────────┘

In [78]:
con.sql("select symbol, ltp, count(*) from advance_two group by symbol,ltp having count(*) > 1")

┌─────────┬────────┬──────────────┐
│ symbol  │  ltp   │ count_star() │
│ varchar │ double │    int64     │
├─────────┴────────┴──────────────┤
│             0 rows              │
└─────────────────────────────────┘

In [79]:
con.close()