# Polars vs Pandas

In [1]:
import pandas as pd
import polars as pl
import duckdb
import openpyxl
import xlsxwriter
import time
from datetime import datetime

In [2]:
# pandas read csv data
pandas_df=pd.read_csv("./src/data/Advance.csv", dtype=str)

In [3]:
# polars read csv data
polars_df=pl.read_csv("./src/data/Advance.csv", infer_schema=False)

In [4]:
pandas_df.head()

,Symbol,Series,LTP,%chng,Mkt Cap (₹ Crores),Volume (Lakhs),Value (₹ Crores)
0,ICICIBANK,EQ,1259.6,0.55,887801.07,135.46,1693.26
1,AXISBANK,EQ,1189,1.85,367833.79,127.98,1512.98
2,ITC,EQ,482.25,2.24,603178.95,309.57,1505.4
3,BEL,EQ,275.55,1.55,201420.96,404.04,1079.83
4,LAURUSLABS,EQ,463.65,3.66,24998.12,198.8,930.2

In [5]:
print(polars_df)

shape: (519, 7)
┌────────────┬─────────┬─────────┬────────┬────────────────────┬────────────────┬──────────────────┐
│ Symbol     ┆ Series  ┆ LTP     ┆ %chng  ┆ Mkt Cap (₹ Crores) ┆ Volume (Lakhs) ┆ Value (₹ Crores) │
│ ---        ┆ ---     ┆ ---     ┆ ---    ┆ ---                ┆ ---            ┆ ---              │
│ str        ┆ str     ┆ str     ┆ str    ┆ str                ┆ str            ┆ str              │
╞════════════╪═════════╪═════════╪════════╪════════════════════╪════════════════╪══════════════════╡
│ ICICIBANK  ┆ EQ      ┆ 1259.6  ┆ 0.55   ┆ 887801.07          ┆ 135.46         ┆ 1693.26          │
│ AXISBANK   ┆ EQ      ┆ 1189    ┆ 1.85   ┆ 367833.79          ┆ 127.98         ┆ 1512.98          │
│ ITC        ┆ EQ      ┆ 482.25  ┆ 2.24   ┆ 603178.95          ┆ 309.57         ┆ 1505.4           │
│ BEL        ┆ EQ      ┆ 275.55  ┆ 1.55   ┆ 201420.96          ┆ 404.04         ┆ 1079.83          │
│ LAURUSLABS ┆ EQ      ┆ 463.65  ┆ 3.66   ┆ 24998.12           ┆ 198.8          ┆ 930.2            │
│ …          ┆ …       ┆ …       ┆ …      ┆ …                  ┆ …              ┆ …                │
│ 94IFCI25   ┆ NL      ┆ 1057.8  ┆ 0.27   ┆ 320.32             ┆ 0              ┆ 0                │
│ 735NABAR31 ┆ N1      ┆ 1150    ┆ 1.32   ┆ 0                  ┆ 0              ┆ 0                │
│ 980IFSL25  ┆ N5      ┆ 1097.99 ┆ 3.1    ┆ 27.95              ┆ 0              ┆ 0                │
│ 746GS2073  ┆ GS      ┆ 111     ┆ 0.02   ┆ 118770             ┆ 0              ┆ 0                │
│ 883GS2041  ┆ GS      ┆ 117.2   ┆ 5      ┆ 105480             ┆ 0              ┆ 0                │
└────────────┴─────────┴─────────┴────────┴────────────────────┴────────────────┴──────────────────┘

In [6]:
print(pandas_df)

        Symbol  Series      LTP  %chng  Mkt Cap (₹ Crores) Volume (Lakhs)  \
0     ICICIBANK      EQ   1259.6   0.55          887801.07         135.46
1      AXISBANK      EQ     1189   1.85          367833.79         127.98
2           ITC      EQ   482.25   2.24          603178.95         309.57
3           BEL      EQ   275.55   1.55          201420.96         404.04
4    LAURUSLABS      EQ   463.65   3.66           24998.12          198.8
..          ...     ...      ...    ...                ...            ...
514    94IFCI25      NL   1057.8   0.27             320.32              0
515  735NABAR31      N1     1150   1.32                  0              0
516   980IFSL25      N5  1097.99    3.1              27.95              0
517   746GS2073      GS      111   0.02             118770              0
518   883GS2041      GS    117.2      5             105480              0

    Value (₹ Crores)
0            1693.26
1            1512.98
2             1505.4
3            1079.83
4              930.2
..               ...
514                0
515                0
516                0
517                0
518                0

[519 rows x 7 columns]